@media screen and (max-width: 500px) {
    .header {
        width: 100%;
    }

    .top_header {
        width: 100px;
    }

    .header_logo {
        width: 100px;
        margin-right: 0;
    }

    .nav__link {
        display: none;
    }
}